################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project/v16
/.vs
/.idea/.gitignore
/De-Bruijn_graph.png
/graph.dot
/.idea/misc.xml
/.idea/modules.xml
/paper summary.docx
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Project.iml
/.idea/vcs.xml
/.idea/.name
/.idea/De-Bruijn.iml
/.idea/workspace.xml
*.gv
*.gv.pdf
/*.xlsx
